# Chezmoi configuration file generated for OS:{{ .chezmoi.os }} System:{{ .chezmoi.hostname }}
encryption = "age"
[age]
	identity = "{{ .chezmoi.destDir }}/.config/chezmoi/id_mlkem-25519"
	recipientsFile = "{{ .chezmoi.destDir }}/.config/chezmoi/id_mlkem-25519.pub"
